{% apply inline_css %}
  <!DOCTYPE html>
  <html>
  <head>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }

        body > table {
            width: 800px;
        }
    </style>
    <style type="text/css">{{ css }}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
  </head>
  <body>
  <table{{ attributes.addClass(bem_block).setAttribute('cellpadding', 0)
    .setAttribute('valign', 'top') }}>
    <tr>
      <td class="{{ bem_block }}__content">{{ message }}</td>
    </tr>
  </table>
  </body>
  </html>
{% endapply %}
